html {
    margin: 0;
}
body {
    background-color: #eee;
}



.article {
    
}

.article__h4 {
    color: red;

}

.article__paragraph {
    color: red;
}

.background-color {
    background-color: rgba(31, 37, 42, 0.5);
    min-height: 80vh;
}

.contener {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.header-container {
    display: flex;
    width: 50%;
    margin: 0 20px 0 50%;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20%  0 20% 0;
}
.hero-image {
    background-image: url('../IMG/statek-kosmiczny.jpg');
    min-height: 80vh;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: content-box;
    background-size: cover;

}

.hero-image__h1 {
    display: block;
    margin: 0;
    color: white;
    flex-basis: 100%;
}
.hero-image__h2 {
    color: white;
    flex-basis: 100%;
    margin: 0;
    padding :20px 30px 0 0;
}

.item1 {
    flex-basis: 100%;
    background-color: #fff;
    padding: 20px;
    order: -10;
}

.item2 {
    flex: 1 2;
    flex-basis: 45%;
    background-color: #dad;
    padding: 20px;
    margin: 0;
    order: -2;
}

.item3 {
    display: inline-flex;
    flex:2 5;
    flex-basis: 45%;
    background-color: #ede;
    padding: 20px;
}

.item4 {
    flex-basis: 30%;
    background-color: #abc;
    padding: 20px;
}

.item5 {
    flex-basis: 30%;
    background-color: #daa;
    padding: 20px;
    order: 1;
}

.item6 {
    flex-basis: 30%;
    background-color: #edd;
    padding: 20px;
}

.item7 {
    flex-basis: 90%;
    background-color: #bcd;
    padding: 20px;
}
.item8 {
    display: block;
    justify-items: center;
    align-self: flex-start;
    flex-basis: 90%;
    background-color: #111;
    padding: 20px;
    color: #fff;
    order: -5;
    margin: 0 40px 0;
}

.item9 {
    flex-basis: 100%;
    background-color: #234;
    padding: 20px;
    height: 20vh;
}
.navigation {
    height: 20vh;
}

.navigation__ul{
    display: flex;
    list-style: none;
    
}
.navigation__a {
    text-decoration: none;
    padding: 30px 50px;
    margin-right:2px;
    background-color: red;

}
.wrapper {
    margin: auto;
    width: 1200px;
}
