.grid {
    display: grid;
    grid-template-areas:
    "header header header"
    "content . side"
    "footer footer footer";

    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-gap: 0.1rem;
    
  }
  .content {
    display: flex;
    grid-area: content;
    flex-direction: row;
    align-items: center;
  }

  .item_a {
  grid-area: header;
  z-index: 1;
  text-align: center;
}
.item_b {
    
    z-index: 0;
    align-self: flex-end;
    order: 0;
  }
  .item_c {
    
    z-index: 1;
  }
  .item_d {
    grid-area: side;
    z-index: 1;
    align-self: flex-end;
    order: 1;
  }
  .footer__grid {
    grid-area: footer;
    z-index: 1;
  }
  .item__padding {
      padding: 20px;
  }