/* My color pallet

Sienna          #965C2A
Dark SLate Gray #415365
Dark Gray       #BAB5A4
Dark Slate Gray #1F252A
Dim Gray        #6E665F

*/

body {
    background-color: #BAB5A4;
    scroll-behavior: smooth;
}

hr {
    border-top: 1px solid black;
    margin: 20px auto 0 auto;
    width: 50%;
}

html {
    box-sizing: border-box;
    
}

*,*:before , *:after {
    box-sizing: inherit;
}

* {
    font-family: 'Poppins', sans-serif;
}

.article__title-s-size {
    color: #415365;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    margin: 0;
    padding: 10px 0 40px 50px;
}

.article__paragraph {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 40px;
    margin: 0;
    width: 80%;
}

.button {
    background-color: #415365;
    bottom: 60px;
    color: #BAB5A4;
    padding: 20px;
    position: fixed;
    right: 90px;
    text-decoration: none;
}

.button:hover {
    background-color: #1F252A;
    color: #BAB5A4;
}

.button:active {
    transform: scale(0.90);
}

.button__icon {
    color: #BAB5A4;
    font-size: 1em;
    padding: 0 10px 0 0;
}

.button__icon:hover {
    color: #1F252A;
}

.container {
    align-items: flex-start;
    display: flex;
    justify-items: flex-start;
}

.footer {
    background-color: #1F252A;
    padding: 20px;
    position: relative;
    text-align: center;
}

.footer__title-l-size {
    color: #BAB5A4;
    font-family: 'Noto Serif', serif;
    font-size: 35px;
    margin: 0;
    padding: 40px 10px;
}

.form {
    width: 600px;
    
    margin: 5px auto;
}

.header {
    background: linear-gradient(180deg, rgba(31,37,42,1) 0%, rgba(65,83,101,1) 57%, rgba(186,181,164,1) 92%);

    color: #BAB5A4;
    text-align: center;
}

.footer__title-l-size {
    color: #BAB5A4;
    font-family: 'Noto Serif', serif;
    font-size: 35px;
    margin: 0;
    padding: 20px 10px;
    text-align: center;
}

.image {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 50px 0;
    width: 100%;
}

.item {
    flex-grow: 1;
}

.navigation {
    padding: 30px;
}

.navigation__link {
    background-color: #415365;
    color: #BAB5A4;
    display: inline-block;
    font-size: 1.3rem;
    min-width: 120px;
    padding: 10px 10px;
    text-decoration: none;
}

.navigation__link:hover {
    background-color: #BAB5A4;
    color: #415365;
}
/* --------------------------------------- problem do rozwiązania z ikona na :hover w przycisku ---*/
.navigation__link:hover ~ .button__icon {
    background-color: #BAB5A4;
    color: #415365;
}
/* -------------------------------------------------------------------------------------------------*/
.navigation__link:active {
    transform: scale(0.95);
}

.navigation__list { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 20px 20px;
}


.navigation__item {
   margin-right: 3px;
}

.navigation__item:hover {
    color: #415365;
}

.section {
    padding: 40px 20px;
}

.section__title-l-size {
    color: #1F252A;
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    margin: 0;
    padding: 10px 10px;
}

.section__title-m-size {
    color: #6E665F;
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    margin: 0;
    padding: 10px 50px;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}