/* My color pallet

Sienna          #965C2A
Dark SLate Gray #415365
Dark Gray       #BAB5A4
Dark Slate Gray #1F252A
Dim Gray        #6E665F

*/

body {
    background-color: #BAB5A4;
}

hr {
    border-top: 1px solid black;
    margin: 40px auto 0 auto;
    width: 50%;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.article__h4 {
    color: #415365;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    padding: 10px 0 40px 50px;
}

.article__paragraph {
    color: #000;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 40px;
    width: 80%;
}

.button {
    background-color: #415365;
    bottom: 60px;
    color: #BAB5A4;
    padding: 20px;
    position: fixed;
    right: 90px;
    text-decoration: none;
}

.button:hover {
    background-color: #1F252A;
    color: #BAB5A4;
}

.button:active {
    transform: scale(0.90);
}

.button__icon {
    color: #BAB5A4;
    font-size: 1.2em;
    padding: 0 10px 0 0;
}

.button__icon:hover {
    color: #1F252A;
}

.container {
    align-items: flex-start;
    display: flex;
    justify-items: flex-start;
}

.footer {
    background-color: #1F252A;
    padding: 20px;
    position: relative;
    text-align: center;
}

.footer__h2 {
    color: #BAB5A4;
    font-family: 'Noto Serif', serif;
    font-size: 35px;
    padding: 40px 10px;
}

.header {
    background-color: #1F252A;
    color: #BAB5A4;
    padding: 20px;
    text-align: center;
}

.header__h1 {
    color: #BAB5A4;
    font-family: 'Noto Serif', serif;
    font-size: 35px;
    padding: 40px 10px;
    text-align: center;
}

.image {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 50px 0;
    width: 100%;
}

.item {
    flex-grow: 1;
}

.navigation {
    padding: 30px;
}

.navigation__a {
    background-color: #415365;
    color: #BAB5A4;
    display: inline-block;
    font-size: 1.3rem;
    min-width: 120px;
    padding: 10px 10px;
    text-decoration: none;
}

.navigation__a:hover {
    background-color: #BAB5A4;
    color: #415365;
}

.navigation__a:active {
    transform: scale(0.95);
}

.navigation__ul {
    list-style-type: none;
    padding: 40px 20px;
}


.navigation__li {
    display: inline-block;
}

.navigation__li:hover {
    color: #415365;
}

.section {
    padding: 40px 20px;
}

.section__h2 {
    color: #1F252A;
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    padding: 10px 10px;
}

.section__h3 {
    color: #6E665F;
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    padding: 10px 50px;
}

.wrapper {
    margin: auto;
    width: 1000px;
}