/* My color pallet

Sienna          #965C2A
Dark SLate Gray #415365
Dark Gray       #BAB5A4
Dark Slate Gray #1F252A
Dim Gray        #6E665F

*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #BAB5A4;
}
.container {
    display: flex;
    justify-content: space-around;
}

.header {
    padding: 20px;
    background-color: #1F252A;
    text-align: center;
    color: #BAB5A4;

}

.header__h1 {
    font-size: 35px;
    color: #BAB5A4;
    text-align: center;
    padding: 10px 10px;
}

.section {
    padding: 20px 20px 50px 20px;

}

.section__h1 {

    font-size: 35px;
    color: #1F252A;
    text-align: center;
    padding: 10px 10px;
}

.section__h2 {
    font-size: 30px;
    color: #1F252A;
    padding: 10px 10px;
}

.section__h3 {
    font-size: 25px;
    color: #6E665F;
    padding: 10px 50px;
}

.section__h4 {
    font-size: 20px;
    color: #415365;
    padding: 10px 50px;
}

.section__paragraph {
    width: 80%;
    margin: auto;
    font-size: 16px;
    color: #000;
    padding: 10px 40px;
}
/*
.section__paragraph-2column {
    display: flex;
    justify-items: space-between;
    margin: auto;
    padding: 10px 10px;
    width: 35%;

}
*/
.main {

    padding: 30px;
}

.wraper {
    width: 1000px;
    margin: auto;
}



.footer {
    padding: 20px;
    background-color: #1F252A;
    position: relative;
    text-align: center;
}
.footer__h2 {
    font-size: 30px;
    color: #BAB5A4;
}

.button {
    position: fixed;
    bottom: 60px;
    right: 90px;
    background-color:#415365;
    padding: 20px;
}

.button:hover {
    background-color: #999;
}

.navigation {
    padding: 30px;
   
}

.navigation__ul {
    list-style-type: none;
}
    

.navigation__li {
    display: inline-block;
    background-color:#415365;
    padding: 10px 10px;
    min-width: 90px;

}

.navigation__a {
    color: #BAB5A4;

}